body{
    text-align: center;
    font-family: sans-serif;
}

/* ------------------EJERCICIO COMPLETO CON AREAS-------------- */

#website-areas *{
    margin: 0px;
    padding: 0px;
}

#website-areas{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 150px 70px 1fr 70px;

    /* áreas */
    grid-template-areas: "cabecera cabecera cabecera cabecera cabecera" "menu menu menu menu menu" "lateral contenido contenido contenido contenido" "pie pie pie pie pie";

    /* grid-gap: 20px; */
    /* grid-column-gap: 20px; */
    /* grid-row-gap: 20px; */


    width: 75%;
    height: 1000px;
    margin: 0px auto;
    border: 1px solid #ccc;
}

#website-areas #cabecera{
    /* areas */
    grid-area: cabecera;

    display: flex;
    justify-content: center;
    align-items: center;


    background-color: lightskyblue;
    color: white;
}


#website-areas #menu{
    grid-area: menu;
   
    background-color: #cccccc;
    color: black;
    line-height: 70px;
}

#website-areas #menu ul{
    display: grid;
    grid-template-columns: repeat(9, 1fr);

    list-style: none;
}

#website-areas #contenido{
    grid-area: contenido;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
    padding: 20px;

    background-color: #eeeeee;
}

#website-areas #contenido article{
    background-color: #ccc;
    border: 1px solid #5555;
}

#website-areas #lateral{
    grid-area: lateral;

    background-color: lightseagreen;
    color: white;
}

#website-areas #pie-pagina{
    grid-area: pie;

    background-color: black;
    color: white;
}

/* ------------------EJERCICIO COMPLETO-------------- */

#website *{
    margin: 0px;
    padding: 0px;
}

#website{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* grid-template-rows: repeat(4, 1fr); */
    grid-template-rows: 150px 70px 1fr 70px;


    width: 75%;
    height: 1000px;
    margin: 0px auto;
    border: 1px solid #ccc;
}

#website #cabecera{
    display: flex;
    justify-content: center;
    align-items: center;

    grid-column: 1 / 6;

    background-color: lightskyblue;
    color: white;
}


#website #menu{
    grid-column: 1 / 6;
   
    background-color: #cccccc;
    color: black;
    line-height: 70px;
}

#website #menu ul{
    display: grid;
    grid-template-columns: repeat(9, 1fr);

    list-style: none;
}

#website #contenido{
    grid-column: 1 / 5;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
    padding: 20px;

    background-color: #eeeeee;
}

#website #contenido article{
    background-color: #ccc;
    border: 1px solid #5555;
}

#website #lateral{
    grid-column: 5 / 6;

    background-color: lightseagreen;
    color: white;
}

#website #pie-pagina{
    grid-column: 1 / 6;

    background-color: black;
    color: white;
}



/* ------------------EJEMPLOS-------------- */

.layout{
    width: 80%;
    min-height: 600px;
    margin: 0px auto;

    /* Definir el contenedor de Grid */
    display: grid;

    /* Columnas */
    /* grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    grid-template-columns: calc(25% - 5px) calc(25% - 5px) calc(25% - 5px) calc(25% - 5px);
    grid-template-columns: 50% 25% 15% 7%;
    grid-template-columns: 50% 25%; */
    /* grid-template-columns: repeat(4, calc(25% - 7px));
    grid-template-columns: repeat(2, calc(25% - 15px)) 15% 35%; */
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    grid-template-columns: repeat(3, 1fr);

    /* Filas */
    /* grid-template-rows: 1fr 1fr 1fr; */
    /* grid-template-rows: 50% 10% 40%; */
    /* grid-template-rows: 0.5fr 3fr 2fr; */
    grid-template-rows: repeat(2, 1fr) 3fr repeat(2, 1fr) ;


    /* Espacio entre elementos Grid */
    grid-gap: 10px;
    /*  --------- */
    padding: 10px;
    border: 3px solid #444444;
}

.layout .caja{
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 20px;
    border: 4px solid #222222;
    background-color: silver;
}

.layout .salmon{
    /* Epandir a mas columnas */
    grid-column-start: 1;
    grid-column-end: 4;

    background-color: lightsalmon;
}

.layout .green{
    /* Epandir a mas filas o rows */
    grid-row-start: 2;
    grid-row-end: 6;

    background-color: lightgreen;
}

.layout .pink{
    /* Epandir a mas columnas */
    grid-column: 2 / 4;

    background-color: pink;
}

.layout .blue{
    /* Epandir a mas columnas */
    grid-column: 2 / 3;
    /* Epandir a mas filas o rows */
    /* grid-row: 3 / 5; */

    background-color: lightsteelblue;
}

.layout .purple{
    background-color: mediumpurple;
}

.layout .sea-green{
    /* Epandir a mas columnas */
    /* grid-column-start: 1;
    grid-column-end: 3; */
    /* Propiedad mas corta qeuivalente a las dos de arriba */
    grid-column: 2 / 4;
    /* Epandir a mas filas o rows */
    grid-row: 4 / 6;

    background-color: lightseagreen;
}